* {
  margin: 0;
  padding: 0;
}
#nav {
  height: 48px;
  background: #333;
}
.center {
  width: 1080px;
  height: 48px;
  margin: 0 auto;
}
.center .fr {
  width: 516px;
  height: 48px;
  float: right;
  background: #333;
}
.center .fr .fl {
  width: 80px;
  height: 48px;
  line-height: 48px;
  float: left;
  margin-left: 5px;
  margin-right: 8px;
  position: relative;
}
.center .fr .fl .login {
  font-size: 14px;
  color: #e7e7e7;
  margin-left: 8px;
  text-decoration: none;
}
.center .fr .fl .register {
  font-size: 14px;
  color: #e7e7e7;
  margin-left: 8px;
  text-decoration: none;
}
.center .fr .ml-line {
  float: left;
  width: 0px;
  height: 16px;
  margin: 17px 3px 0px 6px;
  border-right: 1px solid #666;
}
.center .fr .m-help {
  width: 56px;
  height: 48px;
  line-height: 48px;
  float: left;
  margin: 0px 8px 0px 11px;
}
.center .fr .m-help .ml-help {
  text-decoration: none;
  font-size: 14px;
  color: #e7e7e7;
}
.center .fr .m-download {
  width: 95px;
  margin-left: 5px;
  height: 48px;
  float: left;
}
.center .fr .m-download .download {
  float: right;
  width: 90px;
  height: 48px;
  line-height: 48px;
  text-align: right;
  margin-right: 5px;
  text-decoration: none;
  font-size: 14px;
  color: #e7e7e7;
  position: relative;
}
.center .fr .m-download .download .phone {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 2px;
  background: url(../images/yp-icons.png) 0px -965px no-repeat;
}
.center .fr .m-live {
  width: 36px;
  height: 48px;
  float: left;
  margin-right: 5px;
  line-height: 48px;
}
.center .fr .m-live .live {
  font-size: 14px;
  color: #e7e7e7;
  float: right;
  text-decoration: none;
}
.center .fr .m-con {
  width: 167px;
  height: 48px;
  line-height: 48px;
  float: right;
}
.center .fr .m-con .noopener {
  font-size: 14px;
  color: #e7e7e7;
  margin-left: 6px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.center .fr .m-con .noopener .down {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #000;
  background: url(../images/yp-icons.png) -1px -1678px no-repeat;
  position: absolute;
  top: 8px;
  left: 130px;
}
.center .fr .m-con .noopener .noop {
  overflow: hidden;
  width: 160px;
  height: 0px;
  background: #ccc;
  position: absolute;
  top: 47px;
  right: -28px;
  box-shadow: 5px 5px 5px;
  transition: all 0.5s;
  list-style: none;
}
.center .fr .m-con .noopener .noop > li:first-child {
  width: 160px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 14px;
  color: #333;
  background: #fff;
}
.center .fr .m-con .noopener .noop > li:last-child {
  width: 160px;
  height: 35px;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  color: #333;
  background: #fff;
}
.center .fr .m-con .noopener .noop > li:hover {
  background: #845f3f;
  color: #fff;
}
.center .fr .m-con .noopener:hover .noop {
  height: 70px;
}
